@use './partials/variables' as *;
@use './partials/typography' as *;

body,
html {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Notosans-regular;
}

*::after,
*::before,
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style-type: none;
}

li {
  @include neumorphic-shadows(5, 6);
  @include card;
  padding: px-to-rem(16);
}

button {
  @include card;

  border: none;
  padding: px-to-rem(8);
  @include neumorphic-shadows(5, 6);

  margin-bottom: 0;
  &:hover {
    cursor: pointer;
    @include neumorphic-shadows-inset(5, 6);
  }
  &:active {
    background-color: rgba($color: black, $alpha: 0.1);
  }
}

input,
textarea {
  background-color: $background-color;
  @include neumorphic-shadows-inset(5, 6);
  border-radius: px-to-rem(5);
  border: none;
  padding: px-to-rem(8);
  font-size: px-to-rem(18);
}
textarea {
  resize: none;
  font-family: Notosans-regular;
  &::-moz-placeholder {
    font-size: px-to-rem(18);
    font-family: Notosans-regular;
  }
  &::-webkit-input-placeholder {
    font-size: px-to-rem(18);
  }
  &::placeholder {
    font-size: px-to-rem(18);
  }
}

h1 {
  font-style: Notosans-black;
  font-size: px-to-rem(28);
  font-weight: 600;
}
h2 {
  font-size: px-to-rem(22);
  font-weight: 600;
}
h3 {
  font-weight: 400;
  font-size: px-to-rem(22);
}
p {
  font-style: Notosans-bold;
  font-size: px-to-rem(22);
}
label {
  font-style: Notosans-regular;
  font-size: px-to-rem(22);
}

button,
a {
  font-size: px-to-rem(13);
  font-weight: 600;
}
