@use "../../partials/variables" as *;

@mixin border-style {
  border: px-to-rem(1) solid $background-color;
}

.login {
  display: flex;
  justify-content: center;
  margin-top: px-to-rem(100);

  &__label {
    margin-bottom: px-to-rem(5);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    border-top: none;
    @include border-style();
    outline: none;
    margin-bottom: px-to-rem(16);
  }
  &__button-left {
    margin-right: px-to-rem(16);
  }
}
