@use "../../partials/variables" as *;
.calendar-page {
  position: "relative";
  margin: px-to-rem(24);

  &__add-todo {
  }

  &__cancel {
    display: block;
    margin-bottom: px-to-rem(16);
    &--hidden {
      display: none;
    }
  }
}

.--open {
  transform: translateY(0);
  display: block;
}
.--closed {
  transform: translateY(-100%);
  display: none;
}
