@use '../../partials/variables' as *;
.day-card {
  padding: px-to-rem(10);
  @include card;
  width: 100%;
  @include neumorphic-shadows(5, 6);
  &:hover {
    @include neumorphic-shadows(5, 6);
  }

  &__title {
    text-align: center;
  }
  &__box {
    min-height: 10rem;
  }
}
