@use "../../partials/variables" as *;

.header {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  justify-content: center;

  &__login-toggle {
    padding: 0;
  }
  &__list {
    list-style: none;
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
  &__button {
    margin-right: px-to-rem(24);
    &--active {
      @include neumorphic-shadows-inset(5, 6);
    }
  }
}
