@function px-to-rem($px) {
  @return $px/16 + rem;
}

$background-color: #ecf0f3;
$shadow-color: #d1d9e6;
$white: #fff;

@mixin neumorphic-shadows($shadow-size, $shadow-blur) {
  box-shadow: px-to-rem($shadow-size) px-to-rem($shadow-size)
      px-to-rem($shadow-blur) $shadow-color,
    px-to-rem(-$shadow-size) px-to-rem(-$shadow-size) px-to-rem($shadow-blur)
      $white;
}

@mixin neumorphic-shadows-inset($shadow-size, $shadow-blur) {
  box-shadow: px-to-rem($shadow-size) px-to-rem($shadow-size)
      px-to-rem($shadow-blur) $shadow-color inset,
    px-to-rem(-$shadow-size) px-to-rem(-$shadow-size) px-to-rem($shadow-blur)
      $white inset;
}

@mixin card {
  margin-bottom: px-to-rem(16);
  // width: 90%;
  // height: 8rem;
  // border: px-to-rem(1) solid #bcb8b1;
  background-color: $background-color;
  border-radius: px-to-rem(5);
  // @include neumorphic-shadows();

  &:hover {
    @include neumorphic-shadows-inset(5, 6);
    @include neumorphic-shadows-inset(5, 6);
  }
}

@mixin todo {
  border: 1px solid black;
  background-color: blue;
}
